body {
  background-color: #264264;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5px 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav .logo img {
  max-width: 250px;
}

.nav .nav-links ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 300px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 19px;
}

.nav .nav-links ul a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.nav .nav-links ul a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #ffffff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav .nav-links ul a:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav .nav-icons ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
  padding-right: 20px;
  padding-top: 13px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav .nav-icons ul li a {
  font-size: 30px;
  color: #ffffff;
}

.nav .nav-icons ul li i {
  font-size: 30px;
  color: #ffffff;
}

.nav .dropdown {
  display: none;
  width: 175px;
}

.nav .dropdown ul li a {
  font-size: 16px;
  text-decoration: none;
}

.nav .nav-icons ul li:hover .dropdown {
  display: block;
  position: absolute;
  background-color: #264264;
  margin-left: -63px;
  margin-top: 2px;
}

.nav .nav-icons ul li:hover .dropdown ul {
  display: block;
  margin: 10px;
}

.nav .nav-icons ul li:hover .dropdown ul li {
  width: 100px;
  padding: 10px;
  text-align: left;
}

.nav .nav-icons ul li:hover .dropdown ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.product-content h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
}

.product-content .line {
  content: "";
  width: 85%;
  height: 4px;
  background: #ffffff;
  display: block;
}

.product-content a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.product-content a:hover {
  text-shadow: 0 3px 6px black;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.product-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.product-content .row .col {
  margin: 15px;
  max-width: 250px;
  padding: 30px;
}

.product-content .row .card {
  background-color: #633F33;
  border-radius: 15px;
  border: none;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-content .row .card img {
  max-width: 300px;
  max-height: 210px;
}

.product-content .row .card .product-text {
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.product-content .row .card .product-text h3 {
  font-size: 20px;
}

.text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  margin: 0 auto;
  max-width: 135rem;
}

.text-section .left-content {
  background-color: #ffffff;
  padding: 20px 100px 30px 30px;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  line-height: 30px;
}

.text-section .right-content {
  background-color: #633F33;
  padding: 20px 30px 30px 100px;
  line-height: 30px;
  color: #ffffff;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0px 100%);
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 0px 100%);
}

.footer {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.footer-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 20px;
  color: #ffffff;
}

.hero-section {
  min-height: 60vh;
  height: 100%;
  width: auto;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-section .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #264264e5;
}

.hero-section .hero-content img {
  max-width: 250px;
}

.hero-section .hero-content h1 {
  color: #ffffff;
  text-shadow: 0px 3px 6px black;
}

.hero-section .hero-content button {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #633F33;
  color: #ffffff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.hero-section .hero-content button:hover {
  -webkit-box-shadow: 0px 3px 6px black;
          box-shadow: 0px 3px 6px black;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  background-color: #ffffff;
  color: #633F33;
}
/*# sourceMappingURL=style.css.map */