.edit-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	.edit-form {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 60px;
		margin: 50px 0px;
		color: $secondary-color;
		width: 500px;
		background-color: rgba(0, 0, 0, 0.644);

		.edit-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 300px;
			width: 100%;

			#id {
				width: 50px;
				margin-bottom: 20px;
				text-align: center;
			}

			h1 {
				font-weight: 400;
			}

			div {
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;
				max-width: 300px;
				width: 100%;

				input {
					border: none;
					padding: 10px 5px;
				}
			}

			.current-img-div {
				.current-img {
					height: 200px;
					width: 300px;
					padding: 0;
					justify-content: center;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
			}

			button {
				max-width: 150px;
				width: 100%;
				margin-top: 10px;
				padding: 10px 25px;
				font-size: 16px;
				border: none;
				border-radius: 5px;
				background-color: $third-color;
				color: $secondary-color;
				transition: all 0.3 ease;
				cursor: pointer;
			}

			button:hover {
				box-shadow: 0px 3px 6px black;
				transition: all 0.3 ease;
				background-color: $secondary-color;
				color: $third-color;
			}

			a {
				text-decoration: none;
				margin-top: 20px;
				padding: 10px 5px;
				background-color: $secondary-color;
				color: $third-color;
				transition: 0.3s all ease;
			}

			a:hover {
				background-color: $third-color;
				color: $secondary-color;
				transition: 0.3s all ease;
			}
		}
	}
}
