.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 300px;

	.login-form {
		display: flex;
		flex-direction: column;
		padding: 60px;
		margin-top: 250px;
		color: $secondary-color;
		width: 500px;
		background-color: rgba(0, 0, 0, 0.644);

		h1 {
			font-weight: 400;
		}

		div {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			max-width: 300px;

			input {
				border: none;
				padding: 10px 5px;
			}
		}

		button {
			max-width: 150px;
			margin-top: 10px;
			padding: 10px 25px;
			font-size: 16px;
			border: none;
			border-radius: 5px;
			background-color: $third-color;
			color: $secondary-color;
			transition: all 0.3 ease;
			cursor: pointer;
		}

		button:hover {
			box-shadow: 0px 3px 6px black;
			transition: all 0.3 ease;
			background-color: $secondary-color;
			color: $third-color;
		}
	}
}
