.details-container {
	display: flex;
	align-items: center;
	justify-content: center;

	.details-content {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		max-width: 1500px;

		.image-section {
			max-width: 600px;

			.image {
				img {
					max-width: 400px;
					padding: 40px;
				}
			}
		}

		.info-section {
			max-width: 600px;

			.info-content {
				padding: 40px;
				margin: 20px 30px 20px 0;
				color: $secondary-color;
				background-color: $third-color;

				.line {
					content: '';
					width: 85%;
					height: 4px;
					background-color: $secondary-color;
				}

				p {
					line-height: 30px;
				}

				h2 {
					font-size: 27px;
				}

				a {
					button {
						padding: 10px 25px;
						font-size: 16px;
						border: none;
						border-radius: 5px;
						background-color: $secondary-color;
						color: $third-color;
						transition: all 0.3 ease;
						cursor: pointer;
					}

					button:hover {
						box-shadow: 0px 3px 6px black;
						transition: all 0.3 ease;
						background-color: $secondary-color;
						color: $third-color;
					}
				}

				.note {
					background-color: $secondary-color;
					color: $primary-color;
					text-align: center;
					padding: 10px;
				}
			}
		}
	}
}
