.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 0 5px;
    box-sizing: border-box;

    // Loog --->
    .logo {

        img{
            max-width: 250px;
        }
    }

    // Navigation Links --->
    .nav-links {
        
        ul {
            display: inline-flex;
            list-style: none;
            width: 300px;
            padding: 0;
            justify-content: space-between;
            padding-top: 19px;

            a {
                color: $secondary-color;
                text-decoration: none;
                cursor: pointer;
            }

            a::after {
                content: "";
                display: block;
                width: 0;
                height: 4px;
                background: $secondary-color;
                transition: width 0.3s;
            }

            a:hover::after{
                width: 100%;
                transition: width 0.3s;
            }
        }
        
    }


    // Icons ---->
    .nav-icons {
        
        ul {
            list-style: none;
            display: inline-flex;
            width: 100px;
            padding-right: 20px;
            padding-top: 13px;
            justify-content: space-evenly;

            li {
                a {
                    font-size: 30px;
                    color: $secondary-color;
                }

                i {
                    font-size: 30px;
                    color: $secondary-color;
                }
            }   
        }

       
    }

    // Log inn dropdown --->

    .dropdown{
        display: none;
        width: 175px;

        ul {
            
            li {

                a {
                    font-size: 16px;
                    text-decoration: none;
                }
            }

        }
    }

    .nav-icons ul li:hover .dropdown {
        display: block;
        position: absolute;
        background-color: $primary-color;
        margin-left: -63px;
        margin-top: 2px;

        ul {
            display: block;
            margin: 10px;

            li {
                width: 100px;
                padding: 10px;
                text-align: left;

                a:hover{
                    text-decoration: underline;
                    color: $secondary-color;
                }
            }
        }
    }

} 






