.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 5px 0 5px;
	box-sizing: border-box;
	align-items: center;
	flex-wrap: wrap;

	// Loog --->
	.logo {
		padding: 12px 0;
		img {
			max-width: 250px;
		}
	}

	// Navigation Links --->

	.hamburger-label {
		float: right;
		color: $secondary-color;
		background-color: transparent;
		border: none;
		padding: 10px;
		font-size: 1.5rem;
		display: none;
		cursor: pointer;
	}

	.nav-container {
		display: flex;
		.nav-links {
			ul {
				display: inline-flex;
				list-style: none;
				width: 300px;
				padding: 0;
				justify-content: space-around;
				padding-top: 19px;

				a {
					color: $secondary-color;
					text-decoration: none;
					cursor: pointer;
				}

				a::after {
					content: '';
					display: block;
					width: 0;
					height: 4px;
					background: $secondary-color;
					transition: width 0.3s;
				}

				a:hover::after {
					width: 100%;
					transition: width 0.3s;
				}
			}
		}

		// Icons ---->
		.nav-icons {
			ul {
				display: inline-flex;
				width: 100px;
				padding-right: 19px;
				padding-top: 13px;
				justify-content: space-evenly;

				li {
					list-style: none;

					i {
						padding-right: 10px;
						font-size: 30px;
						color: $secondary-color;
						cursor: pointer;
					}

					.show {
						display: flex !important;
					}

					.dropdown {
						position: absolute;
						width: 150px;
						right: 0;
						flex-direction: column;
						text-align: center;
						margin-top: 50px;
						padding: 0 15px 15px 15px;
						background-color: $primary-color;
						display: none;

						p {
							color: $secondary-color;
							font-weight: 600;
							font-size: 16px;
						}

						a {
							text-decoration: none;
							color: $secondary-color;
							font-size: 16px;
						}

						a:hover {
							text-decoration: underline;
						}
					}

					a {
						font-size: 30px;
						color: $secondary-color;
					}
				}
			}
		}
	}

	@media (max-width: 760px) {
		.nav-container {
			display: none;
			width: 100%;
			flex-direction: column;
			margin-left: 20px;
		}

		.dropdown {
			margin-top: 45px !important;
			width: 120px !important;
			left: 0;
			text-align: left !important;
		}

		.nav-links ul {
			display: flex;
			flex-direction: column;
			padding: 0px;
			margin: 0px;
		}

		.nav-icons ul {
			padding: 0;
			margin: 0;
		}

		.nav-icons ul li {
			padding-bottom: 10px;
			margin: 0;
		}

		.show {
			display: flex;
		}

		.hamburger-label {
			display: block;
		}
	}
}
