.product-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    h2{
        color: $secondary-color;
        font-weight: 400;
        font-size: 30px;
    }

    .line{
        content: "";
        width: 85%;
        height: 4px;
        background: $secondary-color;
        display: block;
    }

    a{
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s all ease;
    }

    a:hover{
        text-shadow: 0 3px 6px black;
        transition: 0.3s all ease;
    }


    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;

        .col{
            margin: 15px;
            max-width: 250px;
            padding: 30px;
        }

        .card{
            background-color: $third-color;
            border-radius: 15px;
            border: none;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card-image{
                height: 200px;
                width: 300px;
                padding: 0;
                justify-content: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .product-text{
                padding: 20px;
                text-align: center;
                color: $secondary-color;

                h3{
                    font-size: 20px;
                }

            }
        }

    }
    
}
